<div>
    <h1>
        Estatísticas da Biblioteca
    </h1>

    <section>

        <div>
            <!-- <NewBooks/> -->
            <h2>Novos Livros</h2>
            <p>stats.recentBooksCount</p>
            <button>
                Exibir Detalhes
                <!-- <ArrowIcon/> -->
            </button>
        </div>

        <div>
            <!-- <BookIcon/> -->
            <h2>Total de Livros</h2>
            <p>stats.totalBooksCount</p>
            <button>
                Exibir Detalhes
                <!-- <ArrowIcon/> -->
            </button>
        </div>

        <div>
            <!-- <BorrowedBooks/> -->
            <h2>Livros Emprestados</h2>
            <p>stats.delayedBooksCount</p>
            <button>
                Exibir Detalhes
                <!-- <ArrowIcon/> -->
            </button>
        </div>

        <div>
            <!-- <UnavailableBooks/> -->
            <h2>Livros Indisponíveis</h2>
            <p >stats.unavailableBooksCount</p>
            <button>
                Exibir Detalhes
                <!-- <ArrowIcon/> -->
            </button>
        </div>

        <div>
            <!-- <EventsIcon/> -->
            <h2>Eventos Ativos</h2>
            <p>stats.activeEventsCount</p>
            <button>
                Exibir Detalhes
                <!-- <ArrowIcon/> -->
            </button>
        </div>

    </section>
</div>