.citationsContainer {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: radial-gradient(circle at center, #3B82F6 0%, #1E3A8A 50%, #0F172A 100%);
}

.citations{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4rem;
}

.citation{
    display: flex;
    justify-content: space-evenly;
    gap: 0rem;
}

.citationImg{
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.citationImg:hover{
    box-sizing: border-box;
    transform: translateY(-0.5rem);
    box-shadow: 0px 0px 50px 0px #468dff;
}

.citationTitle{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    width: 40%;
}
