.registerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.leftContent{
    margin: 0;
    padding: 0;
    height: 100%;
}

.registerForm{
    font-size: 1rem;
    font-weight: 600;
    font-family: monospace;
    background: linear-gradient(to top, rgb(212, 212, 212), white);
    color: #3B82F6;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    max-height: 100vh;
    border: 2px solid #8592B8;
    box-sizing: border-box;
    gap: 0rem;
}

.inputsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
}

.registerTitle{
    margin-top: 1rem;
    margin-bottom: 0;
}

.divisionLine{
    width: 100%;
    background-color: #8592B8;
    height: 0.1px;
    box-shadow: 0px 0px 2px #8592B8;
}

.inputArea{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 70%;
}

.inputText{
    margin: 0;
}

.inputBox{
    padding: 0 10px 0 10px;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #8592B8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 1.5rem;
    outline: none;
    background-color: transparent;
    color: #3B82F6;
}

.inputBox::placeholder{
    color: #8592B8;
}

.inputBox:focus{
    border: 2px solid #8592B8;
}

.registerButton{
    padding: 0;
    background-color: #3B82F6;
    color: white;
    width: 70%;
    height: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 5px #8592B8;

    transition: all 0.3s ease;
}

.registerButton:hover{
    background-color: #1E3A8A;
    transform: translateY(-0.35rem);
}

.loginRef{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loginRefTitle{
    margin: 0;
}

.loginRefLink{
    cursor: pointer;
}

.loginRefLink:hover{
    text-decoration: underline;
}