.headerContainer{
    background: radial-gradient(circle at center, #3B82F6 0%, #1E3A8A 50%, #0F172A 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    align-items: center;
}

.welcomeSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

.welcomeTitle{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-shadow: 0px 10px 20px #0F172A;
    text-align: center;
}

.welcomeDescription{
    margin: 0;
    width: 55%;
    font-size: 1.25rem;
    text-align: center;
    text-shadow: 0px 5px 10px #0F172A;
}

.IconWrapper{
    margin-top: 2.5rem;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    gap: 0.5rem;
    border-bottom: 1px solid white;
    
    transition: transform 0.5s ease;
}

.IconWrapper:hover{
    transform:  translateY(-0.4rem);
}