@keyframes fadeInRight {
    from {
        opacity: 0.2;
        transform: translateX(-30px)
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0.2;
        transform: translateX(30px)
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0.2;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0.2;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden{
    opacity: 0;
}

.fadeInRight {
  animation: fadeInRight 1s ease forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s ease forwards;
}

.fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

.fadeInUp {
  animation: fadeInUp 1s ease forwards;
}
